body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #555555;
    background-color: lightgrey;
}
.common{
    /* background-color: #cccccc; */
    border: 2px solid white;
}

.header{
    top: 5px;
    Left: 5px;
    Right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
}

.leftmenu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #555555;
    top: 114px;
    left: 5px;
    width: 150px;
    bottom: 39px;
    z-index: 1;
    padding-top: 40px;
    border-right: solid 1px #555555;
}
    
.mainbody{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #555555;
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
    padding-right: 5px;
}


.rightmenu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #555555;
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
    border-left: solid 1px #555555;
    padding-left: 5px;
}